
::-webkit-input-placeholder {
   font-style: italic;
   font-weight: normal;
}
:-moz-placeholder {
   font-style: italic;
   font-weight: normal;
}
::-moz-placeholder {
   font-style: italic;
   font-weight: normal;
}
:-ms-input-placeholder {  
   font-style: italic;
   font-weight: normal;
}